:root{
    --bg-up: #009688;
    --bg-down: #dadbd3;
    --bg-contents: #eaeaea;
    --bg-notifications: #8edafc;
}

/* general */

i{
    font-size: 24px;
    cursor: pointer;
}

input:focus{
    outline: none;
}

/* content */

.content{
    width: 100%;
    height: 100vh;
}

.background-up{
    width: 100%;
    height: 200px;
    background-color: var(--bg-up);
}

.background-down{
    width: 100%;
    height: calc(100% - 200px);
    background-color: var(--bg-down);
}

.contents{
    display: flex;
    width: 1600px;
    height: 880px;
    background-color: var(--bg-contents);
    position: absolute;
    top: 30px;
    left: 160px;
    overflow: hidden;
}

/* contacts */

.contacts{
    min-width: 500px;
    height: 100%;
}

.user, .user-chat, .user-write{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid #d7d7d7;
}

.contacts img, .contact img{
    width: 60px;
    height: 100%;
    border-radius: 50%;
}

.notifications{
    padding: 20px;
    background-color: var(--bg-notifications);
}

.bell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.notifications span:last-child{
    cursor: pointer;
}

.contacts input{
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
}

.list-contacts{
    width: 100%;
    height: 76%;
    overflow: auto;
    background-color: white;
}

.box-user{
    cursor: pointer;
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #f6f6f6;
}

.box-user:hover, .box-user.active{
    background-color: #e9ebeb;
}

/* contact */

.contact{
    min-width: calc(100% - 500px);
    height: 100%;
}

.user-chat, .user-write{
    width: 100%;
    height: 80px;
    border-right: 0px;
}

.chat{
    width: 100%;
    height: calc(100% - 160px);
    overflow: auto;
    background-image: url(../img/mine.jpg);
}

.right-messages{
    padding: 60px 100px;
}

.sent, .received{
    width: 36%;
    height: 100%;
    margin: 15px 0px;
    padding: 15px;
    border-radius: 10px;
}

.sent{
    margin-left: auto;
    background-color: #d5f9ba;
}

.received{
    background-color: white;
}

.user-write input{
    height: 50px;
    border: 0px;
    border-radius: 10px;
}